*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;   
}
body{
    background-image: url(ferreteria2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    min-height: 200vh;
}
form {
      
   position:sticky;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 450px;

    

    min-height: 50%;
    min-width: 50%;
    background: #979191;
    padding: 30px;
    max-width: 50%;
    display:block;
    
}

div h2{ 
    margin: auto;
    text-align: center;
    color: #F31F1F;
    padding-top: 15px;
    padding-bottom: 15px;
 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
}
div h3{ 
    margin: auto;
    text-align: center;
    color: #F31F1F;
    padding-top: 20px;
    padding-bottom: 15px;
        
   
}
form h1{
    
    margin: auto;
    text-align: center;
    color: #F31F1F;
    padding-bottom: 15px;
   
}

button {
    
  
   
    background: #F31F1F;
   
}

button[type="button"]{
    border: 3;
    border-color: black;
   
    background: #F31F1F;
    
    cursor: pointer;
    color: white;
    
}

button[type="button"]:hover{
    
    background: #FEDCBA;
    
}
button[type="button"]:focus{
    
    
    background: #F31F1F;
    
    cursor: pointer;
    color: white;
    
}
button[type="button"]:active{
    
      
    background: #000000;
    
}
input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
}


input[type="submit"]{
    
    background: #F31F1F;
    border: 0;
   
    cursor: pointer;
    color: white;
    
}


input[type="date"]{
    
    
    display:inline;
    padding: 0;
    width: 30%;
    margin: 0 0;
}
   
    
}

input[type="submit"]:hover{
    
    background: #FEDCBA;
 
    
}
input[type="submit"]:active{
    
    background: #000000;
 
    
}
 


@media(max-width:450px){
    form{
        width: 100%;
        
    }
    form   h1 {
        width: 100%;
    }
    div h2 {
        width: 100%;
    }
    
    
    
}